apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.app.name }}-secret
  namespace: {{ .Values.namespace.name }}
type: Opaque
stringData:
  {{- if .Values.mongodb.enabled }}
  MONGODB_URL: "mongodb://{{ .Values.mongodb.auth.username }}:{{ .Values.mongodb.auth.password }}@mongodb:27017/kubedb_dbaas?authSource=admin&replicaSet={{ .Values.mongodb.replicaSet.name }}"
  {{- end }}
  {{- if .Values.redis.enabled }}
  REDIS_URL: "redis://:{{ .Values.redis.auth.password }}@redis:6379/0"
  {{- end }}
  SECRET_KEY: {{ .Values.secrets.secretKey | quote }}
  JWT_SECRET_KEY: {{ .Values.secrets.jwtSecretKey | quote }}
