apiVersion: v1
kind: Service
metadata:
  name: kubedb-dbaas-api
  namespace: kubedb-dbaas
  labels:
    app: kubedb-dbaas-api
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: kubedb-dbaas-api
---
apiVersion: v1
kind: Service
metadata:
  name: kubedb-dbaas-api-lb
  namespace: kubedb-dbaas
  labels:
    app: kubedb-dbaas-api
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: kubedb-dbaas-api
